.FAQ{
    background-color: #B14B2A;
    height: 280vh;
    width: 100%;
    display: flex;
    object-fit: cover;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(21, 81, 40, 0.637);
    opacity: 70%;
    position: relative;
}

.title{
    align-items: center;
    text-align: center;
    font-family:  Libre Baskerville;
    color: white;
    font-size: 25px;
}

.QandABlock{
    background-color: #FFEEC1;
    
}

.QBox{
    color: #6C0404;
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.input{
    font-size: 25px;
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 960px) {
} 

@media screen and (max-width: 768px) {
}