.FAQ{
    background-color: #FFEEC1;
    height: 100vh;
    width: 100%;
    display: flex;
    object-fit: cover;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(21, 81, 40, 0.637);
    opacity: 70%;
    position: relative;
    font-family: "Quicksand", sans-serif;
}

.title{
    text-align: center;
    font-size: 25px;
    padding-right: 45%;
    margin-top: 3%;
}

.QandABlock{
    width: 80%;
    height: 10%;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding-top: 18px;
}

.QBox{
    padding-top: 20px;
    width: 100%;
    height: 80%;
    background: #FFEEC1;
    padding-left: 10%; /*find way to center the blocks in middle */
}

.input{
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #6C0404;
}

.background-img {
    width: 100%;
    height: 100%;
    padding-top: 10px;
    background-image: url("../../img/lib.png");
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 960px) {
} 

@media screen and (max-width: 768px) {
}