.FAQ {
    background-color: #FFEEC1;
    height: 100vh;
    width: 100%;
    display: flex;
    object-fit: cover;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(21, 81, 40, 0.637);
    opacity: 70%;
    position: relative;
    font-family: "Quicksand", sans-serif;
}

.title {
    text-align: center;
    color: white;
    font-size: 40px;
    padding-right: 45%;
    margin-top: 3%;
    font-weight: 500;
}

.QBox {
    padding-top: 20px;
    width: 100%;
    height: 100%;
    background-color: #FFEEC1;
    padding: 1% 10%;
}

.accordion {
    background-color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    transition: 0.3s;
    margin: 0%;
}

.accordion.active, .accordion:hover {
    background-color: #E3E3E3;
}

/* + sign */
.accordion:after {
    content: '\2795'; 
    font-size: 13px;
    color: #590303;
    float: right;
    margin-left: 5px;
}

/* - sign */
.accordion.active:after {
    content: "\2796"; 
}

.panel {
    background-color: white;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    opacity: 0;
    margin-bottom: 5px;
}

.panel.show {
    opacity: 1;
    max-height: 500px; 
}

.input{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #6C0404;
}

.background-img-FAQ {
    width: 100%;
    height: 100%;
    padding-top: 10px;
    background-image: url("../../img/lib.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top -400px;
}

@media screen and (max-width: 960px) {
} 

@media screen and (max-width: 768px) {
}