$fg-main: #ffffff;
$bg-main: #FFEEC1;
$bg-alt:  #B14B2A;

.navbar {
  background: rgb(160, 47, 9);
  height: 80px;
  width: 100%;
  align-items: center;
  position: sticky;
  margin: 0;
  display: flex;
  padding: 20px 80px 20px 20px;
}

.navbar-logo {
  margin-top: 131px;
  margin-right: auto;
  width: 195px;
  height: 250px;
  height: 211px;
}

.nav-item {
  height: 80px;
  list-style: none;
  padding: 0vw 2vw;
}
.nav-itemFAQ {
  height: 80px;
  list-style: none;
  padding: 0vw 2vw;
}
.nav-itemSignIn{
  height: 80px;
  list-style: none;
  padding: 0vw 2vw;
  /* border: 1px solid white; */
}

.nav-links {
  font-size: 20px;
  color: $bg-main;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 1rem 1rem;
  float: left;
  height: 100%;
  font-family: 'Quicksand';
}

.nav-links:hover {
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-out;
  border-bottom: 2mm ridge $bg-main;
  overflow: auto;

}

@media screen and (max-width: 960px) {
  .navbar-logo {
    width: 200px;
    height: 200px;
  }

  .navbar {
    height: 75px;
    width: 100%;
    padding: 15px 70px 15px 15px;
  }
}

