.navbar {
    background: linear-gradient(90deg, rgba(28, 4, 180, 0.944) 0%, rgb(238, 94, 4) 100%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index:999;
    display: flex;

  }
  
  .navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100vw;
  }
  
  .navbar-logo {
    color: rgb(214, 105, 32);
    margin-top: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
  }
  
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 50vw;
    justify-content: end;
    margin-right: 2rem;
  }
  
  .nav-item {
    height: 80px;
    font-family: Libre Baskerville;
  }
  
  .nav-links {
    color: rgb(255, 230, 0);
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 1rem 1rem;
    height: 100%;
  }
  
  .nav-links:hover {
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease-out;
    border-bottom: 2mm ridge rgba(222, 232, 17, 0.6);
    overflow:auto;

  }
  
  .fa-book {
    color: #fff;
  }

  .fa-minus-square {
    color: #fff;
  }

  
  .nav-links-mobile {
    display: none;
  }
  
  .menu-icon {
    display: none;
  }
  
  @media screen and (max-width: 960px) {
    .NavbarItems {
      position: relative;
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 36vh;
      position: absolute;
      top: 60px;
      left: -100%;
      opacity: 0.5;
      transition: all 0.5s ease;
      border-spacing: 0;
    }
  
    .nav-menu.active {
     background-image: linear-gradient(90deg, rgb(238, 94, 4) 0%, rgba(28, 4, 180, 0.944) 100%);
      left: 0%;
      opacity: 1;
      transition: all 0.5s ease;
      width: 100vw;
      padding:0;

    }
  
    .nav-links {
      text-align: center;
      width: 100%;
      display: table;
    }
  
    .nav-links:hover {
        color: #ffffff;
        display: block;
        font-size: 20px;
    }
  
    .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
    }
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
  
    .nav-links-mobile {
      display: block;
      text-align: center;
      border-radius: 4px;
      width: 100%;
      text-decoration: none;
      font-size: 1.5rem;
      background-color: transparent;
      color: #fff;
      transition: all 0.3s ease-out;
    }
  
    .nav-links-mobile:hover {
      background: #fff;
      color: #242424;
      transition: 250ms;
    }
  }