.navbar {
  background: rgb(160, 47, 9);
  height: 80px;
  width: 100%;
  align-items: center;
  position: sticky;
  margin: 0;
  display: flex;
  padding: 20px 80px 20px 20px;
}

.navbar-logo {
  margin-top: 10px;
  margin-right: auto;
  width: 230px;
  height: 230px;
  padding: 0;
}

.nav-item {
  height: 80px;
  font-family: Libre Baskerville;
}

.nav-links {
  font-size: 20px;
  color: #FFEEC1;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 1rem 1rem;
  float: left;
  height: 100%;
  font-family: 'Quicksand';
}

.nav-links:hover {
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-out;
  border-bottom: 2mm ridge #FFEEC1;
  overflow: auto;

}

/* 
@media screen and (max-width: 960px) {
  
} */