.sign{
    background-color: rgba(248, 227, 157, 0.876);
    height: 100vh;
    width: 100%;
    padding: 10px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    /*box-shadow: inset 0 0 0 1000px rgba(222, 104, 13, 0.637);*/
    justify-content: center;
}

.Loginn{
    background-color:  rgba(160, 47, 9, 0.818);
    margin-top: -100px;
    width: 450px;
    height: 300px;
    justify-content: center;
    text-align: center;
    font-family: 'Quicksand';
    border-radius: 15px;

}
.Loginn > h1{
    text-align: center;
    align-items: center;
    color: rgb(0, 0, 0);
    opacity: 70%;
    font-size: 40px;
}

.InputL{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border-style: none;
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Quicksand';

}

 input[type='text']{
    border-radius: 5px;
    border-color: rgb(160, 47, 9);
    width: 500px;
    height: 50px;
    font: 2px;
    size: 12em;
    padding: 4px;
    margin-bottom: 10px;
    opacity: 70%;
    
 }

 .forgotpass{
    font-size: 15px;
    align-items: left;
    text-align: left;
    justify-content: left;
    padding: 0px;
    margin-right: 345px;
    text-decoration: underline;
    margin-top: 0;;
    opacity: 70%;
 }

 .signInbutt[type='submit']{
    display: block;
    width: 500px;
    background-color:rgb(160, 47, 9);
    border-color: rgb(160, 47, 9);
    border-radius: 5px;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    font-family: Libre Baskerville;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
 }

 .buttL{
    border-radius: 15px;
    width: 70px;
    height: 30px;
    margin-top: 10px;
    background-color:  rgba(222, 132, 14, 0.876);
    font-family: 'Quicksand';
    border-style: none;

 }