$fg-main: #ffffff;
$bg-main: #FFEEC1;
$bg-alt:  #B14B2A;
$button-main: rgba(222, 132, 14, 0.876);

.sign { 
    background-color: rgba(248, 227, 157, 0.876);
    height: 100vh;
    width: 100%;
    padding: 10px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Loginn {
    margin-top: -100px;
    width: 450px;
    height: 300px;
    text-align: center;
    font-family: 'Quicksand';
    border-radius: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}



.InputL {
  width: 350px;
  height: 40px;
  border-radius: 5px;
  border-style: none;
  padding: 10px;
  margin-bottom: 10px;
  font-family: 'Quicksand';
  background-color: $bg-main;
  border: 2px solid $button-main;
}

.Outer {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, #F8E0B5, #FFF);
}

 .signInbutt[type='submit'] {
    display: block;
    width: 500px;
    background-color:rgb(160, 47, 9);
    border-color: rgb(160, 47, 9);
    border-radius: 5px;
    color: white;
    padding: 14px 28px;
    font-size: 20px;
    font-family: Libre Baskerville;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
 }

 .buttL {
    border-radius: 15px;
    width: 250px;
    height: 45px;
    margin-top: 10px;
    font-size: 20px;
    background-color:  rgba(222, 132, 14, 0.876);
    font-family: 'Quicksand';
    border-style: none;
    font-weight: 800;
 }

.buttL:hover, .buttL:active {
  transition: 0.5; 
}

.prompt {
  position: absolute;
  color: $bg-alt;
  margin-top: 150px;
  font-size: 50px;
  width: 500px;
  top: 0;
}

.buttSwitch {
  border: none;
  background: none;
}

.buttL:hover {
  opacity: 0.8; 
}

.buttL:active {
  opacity: 0.6; 
}
