.box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: url('../../img/Library.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 75%;
}

.sign{
    width: 600px;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    padding: 10px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}
.sign > h1{
    text-align: center;
    align-items: center;
    color:white;
    opacity: 70%;
}

.header{
    font-family: Libre Baskerville;
    font-size: 20px;
    color: white;
    padding: 0px;
    opacity: 70%;
}

 input{
    border-radius: 5px;
    border-color: rgb(160, 47, 9);
    width: 500px;
    height: 50px;
    font-family: Libre Baskerville;
    font-size: 24px;
    size: 12em;
    padding: 4px;
    margin-bottom: 10px;
    opacity: 70%;
 }

 input::placeholder{
    font-size: 16px;
    font-family: Libre Baskerville;
 }

 .forgotpass{
    font-size: 15px;
    align-items: left;
    text-align: left;
    justify-content: left;
    padding: 0px;
    margin-right: 345px;
    text-decoration: underline;
    margin-top: 0;;
    opacity: 70%;
 }

 .signInbutt[type='submit']{
    display: block;
    width: 500px;
    background-color:rgb(160, 47, 9);
    border-color: rgb(160, 47, 9);
    border-radius: 5px;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    font-family: Libre Baskerville;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
 }
