.nav div{
    height: 4px;
    background-color: white;
    margin: 5px 0;
    border-radius: 25px;
    transition: 0.3s;
}

.nav {
    width: 30px;
    display: block;
    margin: 1em 0 0 1 em;

}

.one {
    width: 30px;
    
}

.two{
    width: 20px
}

.three{
    width: 25px;
}

.nav:hover div{
    width: 30px;

}