.select-floor {
  font-family: 'Quicksand';
  border:none;
  color: black;
  font-size: 20px;
  right: 3%;
  top: 20%;
  padding: 2px;
  border-radius: 5px;
  background: white;
  position: fixed;
  z-index: 2;
}