.Room {
    width: 800px;
    height: 500px;
    background-color: red;
    overflow: visible;
}

.Map {
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 80vh;
    width: 85vw;
}



.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.text {
    color: rgb(0, 0, 0);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

.room311{
    width: 50px;
    height: 70px;
    background-color: yellow;
    margin-left: 150px;
    margin-top: ;
}