$fg-main: #ffffff;
$bg-main: #FFEEC1;

body {
  background-color: $bg-main;
}

.Room {
  width: 1230px;
  height: 600px;
  background-color: rgb(138, 66, 66);
  overflow: visible;
  position: absolute;
  transition: .5s ease;
}

.Map {
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 80vh;
  width: 85vw;
}

.text {
  color: rgb(0, 0, 0);
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.R2room332A {
  width: 20px;
  height: 40px;
  background-color: rgb(185, 169, 169);
  margin-left: 180px;
  margin-top: 95px;
  position: absolute;
}


.R2room332B {
  width: 40px;
  height: 60px;
  background-color: rgb(185, 185, 169);
  margin-left: 180px;
  margin-top: 30px;
  position: absolute;
}

.R2room332C {
  width: 40px;
  height: 60px;
  background-color: rgb(185, 185, 169);
  margin-left: 225px;
  margin-top: 30px;
  position: absolute;
}


.R2room332D {
  width: 40px;
  height: 60px;
  background-color: rgb(185, 185, 169);
  margin-left: 270px;
  margin-top: 30px;
  position: absolute;
}

.R2room332E {
  width: 20px;
  height: 40px;
  background-color: rgb(185, 185, 169);
  margin-left: 290px;
  margin-top: 95px;
  position: absolute;
}

.R2room333 {
  width: 135px;
  height: 80px;
  background-color: rgb(185, 185, 169);
  margin-left: 315px;
  margin-top: 30px;
  position: absolute;
}

.R2room337A {
  width: 20px;
  height: 40px;
  background-color: rgb(185, 185, 169);
  margin-left: 850px;
  margin-top: 95px;
  position: absolute;
}


.R2room337B {
  width: 40px;
  height: 60px;
  background-color: rgb(185, 185, 169);
  margin-left: 850px;
  margin-top: 30px;
  position: absolute;
}

.R2room337C {
  width: 40px;
  height: 60px;
  background-color: rgb(185, 185, 169);
  margin-left: 895px;
  margin-top: 30px;
  position: absolute;
}


.R2room337D {
  width: 40px;
  height: 60px;
  background-color: rgb(185, 185, 169);
  margin-left: 940px;
  margin-top: 30px;
  position: absolute;
}

.R2room337E {
  width: 20px;
  height: 40px;
  background-color: rgb(185, 185, 169);
  margin-left: 960px;
  margin-top: 95px;
  position: absolute;
}

.R2room342A {
  width: 50px;
  height: 40px;
  background-color: rgb(185, 185, 169);
  margin-left: 1100px;
  margin-top: 250px;
  position: absolute;
}

.R2room342B {
  width: 50px;
  height: 40px;
  background-color: rgb(185, 185, 169);
  margin-left: 1100px;
  margin-top: 295px;
  position: absolute;
}

.R2room342C {
  width: 50px;
  height: 40px;
  background-color: rgb(185, 185, 169);
  margin-left: 1100px;
  margin-top: 340px;
  position: absolute;
}

.R2room352E {
  width: 20px;
  height: 40px;
  background-color: rgb(185, 185, 169);
  margin-left: 960px;
  margin-top: 450px;
  position: absolute;
}

.R2room352D {
  width: 40px;
  height: 60px;
  background-color: rgb(185, 185, 169);
  margin-left: 940px;
  margin-top: 495px;
  position: absolute;
}

.R2room352C {
  width: 40px;
  height: 60px;
  background-color: rgb(185, 185, 169);
  margin-left: 895px;
  margin-top: 495px;
  position: absolute;
}

.R2room352B {
  width: 40px;
  height: 60px;
  background-color: rgb(185, 185, 169);
  margin-left: 850px;
  margin-top: 495px;
  position: absolute;
}

.R2room352A {
  width: 20px;
  height: 40px;
  background-color: rgb(185, 185, 169);
  margin-left: 850px;
  margin-top: 450px;
  position: absolute;
}

.R2room353A {
  width: 60px;
  height: 90px;
  background-color: rgb(185, 185, 169);
  margin-left: 785px;
  margin-top: 465px;
  position: absolute;
}

.R2room353B {
  width: 60px;
  height: 90px;
  background-color: rgb(185, 185, 169);
  margin-left: 720px;
  margin-top: 465px;
  position: absolute;
}

.R2room311 {
  width: 40px;
  height: 60px;
  background-color: rgb(185, 185, 169);
  margin-left: 450px;
  margin-top: 350px;
  position: absolute;
}


.R2room323C {
  width: 50px;
  height: 40px;
  background-color: rgb(185, 185, 169);
  margin-left: 100px;
  margin-top: 250px;
  position: absolute;
}

.R2room323B {
  width: 50px;
  height: 40px;
  background-color: rgb(185, 185, 169);
  margin-left: 100px;
  margin-top: 295px;
  position: absolute;
}

.R2room323A {
  width: 50px;
  height: 40px;
  background-color: rgb(185, 185, 169);
  margin-left: 100px;
  margin-top: 340px;
  position: absolute;
}

// .Room:hover {
//   background-color: rgb(20, 231, 12);
// }



/* Hover Function for all the rooms */
.R2room332A:hover {
  background-color: rgb(109, 240, 137);
}


.R2room332B:hover {
  background-color: rgb(109, 240, 137);
}

.R2room332C:hover {
  background-color: rgb(109, 240, 137);
}


.R2room332D:hover {
  background-color: rgb(109, 240, 137);
}

.R2room332E:hover {
  background-color: rgb(109, 240, 137);
}

.R2room333:hover {
  background-color: rgb(109, 240, 137);
}

.R2room337A:hover {
  background-color: rgb(109, 240, 137);
}


.R2room337B:hover {
  background-color: rgb(109, 240, 137);
}

.R2room337C:hover {
  background-color: rgb(109, 240, 137);
}


.R2room337D:hover {
  background-color: rgb(109, 240, 137);
}

.R2room337E:hover {
  background-color: rgb(109, 240, 137);
}

.R2room342A:hover {
  background-color: rgb(109, 240, 137);
}

.R2room342B:hover {
  background-color: rgb(109, 240, 137);
}

.R2room342C:hover {
  background-color: rgb(109, 240, 137);
}

.R2room352E:hover {
  background-color: rgb(109, 240, 137);
}

.R2room352D:hover {
  background-color: rgb(109, 240, 137);
}

.R2room352C:hover {
  background-color: rgb(109, 240, 137);
}

.R2room352B:hover {
  background-color: rgb(109, 240, 137);
}

.R2room352A:hover {
  background-color: rgb(109, 240, 137);
}

.R2room353A:hover {
  background-color: rgb(109, 240, 137);
}

.R2room353B:hover {
  background-color: rgb(109, 240, 137);
}

.R2room311:hover {
  background-color: rgb(109, 240, 137);
}


.R2room323C:hover {
  background-color: rgb(109, 240, 137);
}

.R2room323B:hover {
  background-color: rgb(109, 240, 137);
}

.R2room323A:hover {
  background-color: rgb(109, 240, 137);
}