$bg-main: #a81100;
$fg-main: #ffffff;

body {
    /*background-color: $bg-main;*/
}

.Map {
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: $fg-main;
    height: 80vh;
    width: 85vw;
}

.mapRoom {
    position: absolute;
    width: 62vw;
}

.dropDown {
    min-width: 15em;
    display: block;
    margin: auto;
    height: 50px;
}

.dropDown * {
    box-sizing: border-box;
}

.floorSelect {
    background: #2a2f3b;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}
