.Map {
  width: 100%;
  background-color: #FFEEC1;
}

.MapDiagramContainer {
  width: 100%;
}

.MapDiagramContainer path {
  transition: fill 0.3s ease;
  stroke: black;
  stroke-width: 0.3;
}

.MapDiagramContainer path:hover {
  filter: brightness(110%);
}