.img{
    width: 10%;
    margin: auto;
    display: block;
}

.Map {
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 80vh;
    width: 85vw;
}

.mapRoom {
    position: absolute;
    width: 62vw;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.text {
    color: rgb(0, 0, 0);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

.img .mapRoom:hover .overlay{
    opacity: 1;
    
    color:rgb(255, 0, 0);
}