:root{
    --primary: white;

}

.btn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn--primary {
    background-color: var(--primary);
    color: blueviolet;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn--outline {
    background-color: transparent;
    color: rgb(255, 230, 0);
    border: 1px solid var(--primary);
}

.btn--medium{
    padding: 8px 20px;
    font-size: 20px;
}

.btn--large{
    padding: 12px 26px;
    font-size: 20px;
}
.btn--medium:hover, .btn--larger:hover{
    background: orangered;
    color: green;
    transition: all 0.3s ease-out;
}