.home-page {
    min-width: 1280px;
    height: 2240px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    object-fit: contain;
    background-color: #FFEEC1;
}

.video-container {
    width: 100vw;
    height: 60vh;
    position: relative;
    overflow: hidden;
}

.background-video {
    position: absolute;
    opacity: 70%;
    top: 0;
    left: 0;
    object-fit: cover;
    padding-top: 10px;
}

.video-textblock {
    position: absolute;
    top: 0;
    left: 0;
    width: 26vw;
    height: 100%;
    margin-left: 10vw;
    margin-top: 10px;
    background-color: #B14B2A;
    opacity: 90%;
    z-index: 1;
    /* Place the rectangle above the video */
}

.text-overlay {
    position: absolute;
    padding: 10%;
    color: #FFEEC1;
    z-index: 2;
    /* Place the text above the rectangle */
}

.text-overlay h1 {
    font-size: 24px;
    margin: 0;
    font-family: 'Quicksand';
    font-weight: 400;
}

.text-overlay p {
    font-size: 16px;
    margin: 20px 0px;
    line-height: 2;
    font-family: 'Quicksand';
}

.gradient-bar {
    width: 100%;
    height: 10px;
    background: linear-gradient(to left, #952D0B, #FFEEC1);
}

.home-page>h1 {
    font-size: 60px;
    color: #6C0404;
    text-align: right;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    padding-right: 5%;
    margin-bottom: -11px;
}

.home-page>p {
    margin-top: 8px;
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-family: 'Quicksand';
}

.btns {
    margin: 6px;
}

/* Media query for screens smaller than 1280px */
@media (max-width: 1280px) {
    .home-page {
        min-width: auto;
        width: 100%;
    }
}

@media screen and (max-width: 960px) {
    .home-page>h1 {
        font-size: 70px;
        margin-top: -3px;
    }

    .text-overlay p {
        line-height: 1.4;
    }
}