.home-page {
    min-width: 1280px;
    height: 2240px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    object-fit: contain;
    background-color: #FFEEC1;
}

.section-container {
    width: 100%;
    height: 80vh;
    position: relative;
    overflow: hidden;
}
.section-container2 {
    width: 100%;
    height: 54vh;
    position: relative;
    overflow: hidden;
}

.background-img {
    width: 100%;
    height: 100%;
    padding-top: 10px;
    background-image: url("../../img/lib.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.background-block {
    position: absolute;
    opacity: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    padding-top: 10px;
}

.textblock {
    position: absolute;
    top: 0;
    left: 0;
    width: 26vw;
    height: 100%;
    margin-left: 10vw;
    margin-top: 10px;
    background-color: #B14B2A;
    opacity: 90%;
    z-index: 1;
    /* Place the rectangle above the video */
}

.textblock2 {
    position: absolute;
    top: 0;
    right: 10vw;
    width: 26vw;
    height: 100%;
    margin-left: 10vw;
    margin-top: 10px;
    background-color: #B14B2A;
    opacity: 90%;
    z-index: 1;
    /* Place the rectangle above the video */
}

.text-overlay {
    position: absolute;
    padding: 10%;
    color: #FFEEC1;
    z-index: 2;
    /* Place the text above the rectangle */
}

.text-overlay2 {
    position: absolute;
    align-self: right;
    padding: 10%;
    color: #FFEEC1;
    z-index: 2;
}

.text-overlay h1 {
    font-size: 24px;
    margin: 0;
    font-family: 'Quicksand';
    font-weight: 400;
}

.text-overlay2 h1 {
    font-size: 24px;
    margin: 0;
    font-family: 'Quicksand';
    font-weight: 400;
}

.text-overlay p {
    font-size: 16px;
    margin: 20px 0px;
    line-height: 2;
    font-family: 'Quicksand';
    font-weight: 400;
}

.text-overlay2 p {
    font-size: 16px;
    margin: 20px 0px;
    line-height: 2;
    font-family: 'Quicksand';
    font-weight: 400;
}

.gradient-bar {
    width: 100%;
    height: 10px;
    background: linear-gradient(to left, #952D0B, #FFEEC1);
}

.gradient-bar2 {
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, #952D0B, #FFEEC1);
}

.home-page>h1 {
    font-size: 60px;
    color: #6C0404;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    padding-right: 5%;
    margin-bottom: -11px;
}

.firstHeading {
    text-align: right;
}

.secondHeading {
    text-align: left;
}

.home-page>p {
    margin-top: 8px;
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-family: 'Quicksand';
}

.btns {
    margin: 6px;
}

.middleGap {
    width: 100%;
    height: 10vh;
}

/* Media query for screens smaller than 1280px */
@media (max-width: 1280px) {
    .home-page {
        min-width: auto;
        width: 100%;
    }
}

@media screen and (max-width: 960px) {
    .home-page>h1 {
        font-size: 70px;
        margin-top: -3px;
    }

    .video-container {
        height: 50vh;
    }

    .text-overlay p {
        line-height: 1.4;
    }
    .hero-btns .btns{
        width: 93%;
        margin: 0px;
        align-items: center;
    }
    
    .btn-mobile {
        padding: 0;
        display: block;
        text-decoration: none;
    }

    .btns {
        width: 100%;
    }
}
